@charset "utf-8";
/* CSS Document */

#main {
	width: 900px;
	margin: auto;
}

#home, #products, #events, #cafe, #service, #order, #support, #about {
	color: #09F;
	display: block;
	border-bottom: solid 2px #09F;
}

.home, .products, .events, .cafe, .service, .order, .support, .about {
	color: #000;
	opacity: 0.4;	
	display : block;
}

.home:hover, .products:hover, .events:hover, .cafe:hover, .service:hover, .order:hover, .support:hover, .about:hover{
	color: #09F;
	opacity: 1.0;
}

.home_heading {
	font-family: "Trebuchet MS";
	font-size: 24px;
	color: #333;
	text-align: center;
}
.home_font {
	font-size: 22px;
	color: #666;
	font-family: "Century Gothic";
	text-align: center;
}
.product_border {
	border: thin solid #000;
	-webkit-border-radius: 10px;
	text-align: center;
}

#home_font_link {
	color: #000;
}

.ban_temp {
	font-family: "Century Gothic";
	font-size: 16px;
	color: #000;
	text-align: center;
	border-bottom-width: 1.5px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-top-width: 1.5px;
	border-top-style: solid;
	border-top-color: #000;
}
.footer {
	font-family: "Myriad Pro";
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	border-top-width: thin;
	border-top-style: none;
	border-top-color: #FFF;
	background-color: #000;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}
.footer_follow {
	font-family: Calibri;
	color: #FFF;
	background-color: #9A9A9A;
	text-indent: 0cm;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: 100;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	vertical-align: middle;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.fieldset_service{
	border-radius: 10px;
}
.read_more, .read_more:link, .read_more:visited { 
	border: thin solid #000;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	background-color: #F00;
	color: #FFF;
	display: inline-block;
}

.read_more_font {
	color: #FFF;	
	display: block;
}

.read_more:hover {
	background-color: #FF726A;	
}
